Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

Add optional Pebble resilience integration path
  .github/workflows/build.yml
  AGENTS.md
  scripts/Pebble/README.md
  scripts/Pebble/compose.resilience.yml
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountDiscoveryTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountFlowTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByTlsAlpnTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.ChangeAccountTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/ChallengeFailureTests.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests.Integration/Readme.cs
Due: none

Clarify Podman resilience outcome and update integration count
  AGENTS.md
  docs/CHANGELOG.md
  scripts/Pebble/README.md
Due: none

Add gated tag-driven release workflow
  .github/workflows/release.yml
  AGENTS.md
  README.md
  docs/ci-migration.md
Due: none

Address release workflow review feedback
  .github/workflows/release.yml
  docs/ci-migration.md
Due: none

Restrict release check gate to GitHub Actions runs
  .github/workflows/release.yml
  docs/ci-migration.md
Due: none

Prepare changelog for 4.0.0-beta.1
  docs/CHANGELOG.md
Due: none

Address changelog review feedback
  docs/CHANGELOG.md
Due: none

Locate CLI output by test build configuration
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
Due: none

Check CLI build path and run unit tests in Release in CI
  .github/workflows/build.yml
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
Due: none

Add package readmes and changelog-based release notes
  .github/workflows/release.yml
  docs/ci-migration.md
  misc/certes.props
  scripts/release-notes.sh
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/README.md
  src/Certes/Certes.csproj
  src/Certes/README.md
Due: acme, cli

Address package readme and release notes review
  docs/ci-migration.md
  scripts/release-notes.sh
  src/Certes.Cli/README.md
Due: cli

Replace removed CertificateInfo in API docs
  docs/APIv2.md
Due: none

Encrypt PFX with AES-256 by default
  docs/CHANGELOG.md
  docs/CLI.md
  docs/README.md
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes/Pkcs/PfxBuilder.cs
  src/Certes/Pkcs/PfxEncryption.cs
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme, cli

Validate PfxBuilder.Encryption in its setter
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Wait for ready before finalize and normalize PEM newlines
  docs/CHANGELOG.md
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Improve pending-order failure handling and tests
  docs/CHANGELOG.md
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Tighten pre-finalize null handling in Generate
  docs/CHANGELOG.md
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Handle missing nullable order status in error message
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme

Prepare changelog for 4.0.0 release
  docs/CHANGELOG.md
Due: none

Add DocFX GitHub Pages workflow
  .github/workflows/docs-pages.yml
  docs/ci-migration.md
Due: none

Harden docs pages workflow behavior
  .github/workflows/docs-pages.yml
  docs/ci-migration.md
Due: none

Remove retired azure pipeline placeholder
  AGENTS.md
  azure-pipelines.yml
Due: none

Remove stale migration docs and source-link warnings
  .github/workflows/build.yml
  .github/workflows/release.yml
  AGENTS.md
  README.md
  azure-pipelines.yml
  docs/README.md
  docs/ci-migration.md
  misc/certes.props
Due: none

Restore release runbook and address PR review gaps
  AGENTS.md
  Certes.sln
  README.md
  docs/README.md
  docs/releasing.md
  docs/toc.yml
  misc/certes.props
Due: none

Tighten release runbook guidance
  docs/releasing.md
  src/Certes.Cli/README.md
Due: cli

Add ACME renewal information support
  AGENTS.md
  README.md
  docs/APIv2.md
  docs/CHANGELOG.md
  docs/README.md
  scripts/Pebble/README.md
  src/Certes/Acme/Resource/Directory.cs
  src/Certes/Acme/Resource/Order.cs
  src/Certes/Acme/Resource/RenewalInfo.cs
  src/Certes/Acme/Resource/SuggestedWindow.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  src/Certes/Extensions/RenewalInfoExtensions.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.RenewalInfoTests.cs
  test/Certes.Tests/Helper.v2.cs
  test/Certes.Tests/RenewalInfoTests.cs
Due: acme

Validate ARI certificate IDs consistently
  src/Certes/Extensions/IAcmeContextExtensions.cs
  test/Certes.Tests/RenewalInfoTests.cs
Due: acme

Reject invalid ARI windows and document polling limits
  docs/APIv2.md
  src/Certes/Acme/Resource/RenewalInfo.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  test/Certes.Tests/RenewalInfoTests.cs
Due: acme

Add certificate profile discovery and order selection
  AGENTS.md
  README.md
  docs/APIv2.md
  docs/CHANGELOG.md
  docs/README.md
  scripts/Pebble/README.md
  src/Certes/Acme/Resource/DirectoryMeta.cs
  src/Certes/Acme/Resource/Order.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateProfileTests.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/CertificateProfileTests.cs
Due: acme

Allow opt-in unadvertised profiles and share order body construction
  docs/APIv2.md
  src/Certes/AcmeContext.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  test/Certes.Tests/CertificateProfileTests.cs
Due: acme

Add IP address identifier support (RFC 8738)
  AGENTS.md
  README.md
  docs/APIv2.md
  docs/CHANGELOG.md
  scripts/Pebble/README.md
  src/Certes/Acme/IpAddressUtil.cs
  src/Certes/Acme/Resource/IdentifierType.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  src/Certes/Extensions/RenewalInfoExtensions.cs
  src/Certes/IKey.cs
  src/Certes/Pkcs/CertificationRequestBuilder.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.IpIdentifierTests.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/IpIdentifierTests.cs
Due: acme

Detect IP addresses in string identifier overloads and match IP authorizations by address
  AGENTS.md
  docs/APIv2.md
  docs/CHANGELOG.md
  scripts/Pebble/README.md
  src/Certes/AcmeContext.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  src/Certes/IAcmeContext.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.IpIdentifierTests.cs
  test/Certes.Tests/IpIdentifierTests.cs
Due: acme

Reject IPv6 endpoint forms and find IP authorizations in CLI commands
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes/Acme/IpAddressUtil.cs
  test/Certes.Tests/Cli/CliCoreSpectreTests.cs
  test/Certes.Tests/IpIdentifierTests.cs
Due: acme, cli

Add CLI support for certificate profiles, ARI and TLS-ALPN challenges
  docs/CHANGELOG.md
  docs/CLI.md
  src/Certes.Cli/CliCoreSpectre.cs
  test/Certes.Tests/Cli/CliCoreSpectreTests.cs
Due: cli

Reject empty --profile and --replaces values in order new
  src/Certes.Cli/CliCoreSpectre.cs
  test/Certes.Tests/Cli/CliCoreSpectreTests.cs
Due: cli

Regenerate stale CLI Strings.Designer.cs and fix cert pfx help text
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/StringsTests.cs
Due: cli

Assert account updates are visible through the same context
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountFlowTests.cs
Due: none

Prepare v4.1.0 release documentation
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes.Cli/README.md
  src/Certes/README.md
Due: acme, cli

Clarify ARI extension methods in release notes
  docs/CHANGELOG.md
Due: none

Configure weekly Dependabot updates
  .github/dependabot.yml
Due: none
