Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

update cli to dotnet 2.1 p2 (#92)
  docs/README.md
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
Due: cli

fix env var name CERTES_AZURE_TENANT_ID
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

fix env var name CERTES_AZURE_TENANT_ID (#93)
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

update acme problem detail model
  src/Certes/Acme/AcmeError.cs
  test/Certes.Tests/Acme/AcmeErrorTests.cs
Due: acme

add exception class
  src/Certes/AcmeException.cs
  src/Certes/AcmeRequestException.cs
Due: acme

update exceptions
  src/Certes/AcmeException.cs
  src/Certes/AcmeRequestException.cs
Due: acme

apply exception
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/AcmeRequestException.cs
  src/Certes/Certes.csproj
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
  test/Certes.Tests/Acme/EntityContextTests.cs
Due: acme

+tests
  test/Certes.Tests/Acme/AcmeRequestExceptionTests.cs
Due: none

fix tests
  src/Certes/AcmeRequestException.cs
Due: acme

+tests
  test/Certes.Tests/Properties/StringsTests.cs
Due: none

replace Exception with AcmeException
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
Due: acme

add pending status to order
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme

add expired status to authorization
  src/Certes/Acme/Resource/AuthorizationStatus.cs
Due: acme

replace exceptions
  src/Certes/AcmeClient.cs
  src/Certes/Jws/JwsConvert.cs
  src/Certes/Pkcs/KeyInfo.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
Due: acme

replace exceptions
  src/Certes/Acme/AcmeCertificate.cs
  src/Certes/Acme/AcmeHttpHandler.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
  test/Certes.Tests/Jws/JwsConvertTests.cs
Due: acme

fix tests
  test/Certes.Tests/Acme/AcmeCertificateTests.cs
  test/Certes.Tests/Acme/AcmeHttpHandlerTests.cs
Due: none

update exceptions
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/CertesCliException.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommand.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/CertificateCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes/AcmeException.cs
  src/Certes/Pkcs/CertificationRequestBuilder.cs
  src/Certes/Pkcs/CertificationStore.cs
  src/Certes/Pkcs/KeyInfo.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/Cli/ArgumentSyntaxExtensionsTests.cs
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderValidateCommandTests.cs
  test/Certes.Tests/Pkcs/KeyInfoTests.cs
Due: acme, cli

reflector http error when nonce not returning from server
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/AcmeException.cs
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
  test/Certes.Tests/AcmeRequestExceptionTests.cs
  test/Certes.Tests/Cli/CertesCliExceptionTests.cs
Due: acme

+tests
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

+tests
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

+ changelog
  docs/CHANGELOG.md
Due: none

remove csr validation
  src/Certes/Pkcs/CertificationRequestBuilder.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
Due: acme

Update AcmeHttpClient.cs
  src/Certes/Acme/AcmeHttpClient.cs
Due: acme

Draft-11 updates (#96)
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

+doc
  docs/CHANGELOG.md
Due: none

Support custom HttpClient (#97)
  docs/CHANGELOG.md
  src/Certes/Acme/AcmeHttpClient.cs
Due: acme

bump version
  .appveyor.yml
  .codecov.yml
  Certes.sln
  src/Certes/Certes.csproj
Due: acme

increase version number (#98)
  .appveyor.yml
  .codecov.yml
  Certes.sln
  src/Certes/Certes.csproj
Due: acme

fix certificate chain for pfx
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
Due: acme

fix tests
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
Due: none

Fix Certes.Acme.Resource.Challenge error property
  src/Certes/Acme/Resource/Challenge.cs
  test/Certes.Tests/Acme/Resource/ChallengeTests.cs
Due: acme

make codacy happy
  src/Certes/Pkcs/PfxBuilder.cs
Due: acme

fix certificate chain for pfx (#101)
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
Due: acme

restore Challenge.Errors for backwards compatibility
  docs/CHANGELOG.md
  src/Certes/Acme/Resource/Challenge.cs
  test/Certes.Tests/Acme/Resource/ChallengeTests.cs
Due: acme

Add Certes.Acme.Resource.Challenge Error property (#102)
  docs/CHANGELOG.md
  src/Certes/Acme/Resource/Challenge.cs
  test/Certes.Tests/Acme/Resource/ChallengeTests.cs
Due: acme

bump version for release
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

bump version for v2.2.0 release (#103)
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

mark Challenge.KeyAuthorization obsolete
  src/Certes/Acme/Resource/Challenge.cs
Due: acme

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
