Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

Update APIv2.md
  docs/APIv2.md
Due: none

Update APIv2.md (#148)
  docs/APIv2.md
Due: none

Update APIv2.md (#148)
  APIv2.html
  manifest.json
  sitemap.xml
Due: none

Update README.md
  docs/README.md
Due: none

Update README.md (#149)
  docs/README.md
Due: none

Update README.md (#149)
  README.html
  index.html
  manifest.json
  sitemap.xml
Due: none

bump CLI version
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

bump CLI version (#150)
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update System.Net.Http reference for desktop netfx
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/host.json
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

fix restore failure
  .appveyor.yml
Due: none

fix System.Net.Http reference for desktop netfx (#159)
  .appveyor.yml
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/host.json
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

update supporting packages
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/CertificateFunction.cs
  test/Certes.Tests.Web/DnsChanllengeFunction.cs
  test/Certes.Tests.Web/HttpChanllengeFunction.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: cli

update az pipeline
  .azure-pipelines.yml
  Certes.sln
  azure-pipelines.yml
Due: none

update az pipelines
  Certes.sln
  azure-pipelines.yml
Due: none

update az
  azure-pipelines.yml
Due: none

update changelog
  docs/CHANGELOG.md
Due: none

add placeholder for az pipeline
  azure-pipelines.yml
Due: none

update changelog (#161)
  azure-pipelines.yml
  docs/CHANGELOG.md
Due: none

update changelog (#161)
  CHANGELOG.html
  manifest.json
  sitemap.xml
Due: none

update packages
  azure-pipelines.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/DnsChanllengeFunction.cs
Due: cli

update az pipelines
  azure-pipelines.yml
Due: none

update build
  azure-pipelines.yml
Due: none

update dotnet sdk for travis build
  .travis.yml
Due: none

fix key rollover error
  src/Certes/AcmeContext.cs
Due: acme

add changelog
  docs/CHANGELOG.md
Due: none

fix key rollover error (#162)
  docs/CHANGELOG.md
  src/Certes/AcmeContext.cs
Due: acme

fix key rollover error (#162)
  CHANGELOG.html
  manifest.json
  sitemap.xml
Due: none

Update TLS-ALPN OID
  docs/CHANGELOG.md
  src/Certes/IKey.cs
Due: acme

Update TLS-ALPN OID (#163)
  docs/CHANGELOG.md
  src/Certes/IKey.cs
Due: acme

Update TLS-ALPN OID (#163)
  CHANGELOG.html
  manifest.json
  sitemap.xml
Due: none

update supporting packages
  .travis.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/CertificateFunction.cs
  test/Certes.Tests.Web/DnsChanllengeFunction.cs
  test/Certes.Tests.Web/HttpChanllengeFunction.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: cli

update supporting packages (#164)
  .travis.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/CertificateFunction.cs
  test/Certes.Tests.Web/DnsChanllengeFunction.cs
  test/Certes.Tests.Web/HttpChanllengeFunction.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: cli

bump dev version
  .appveyor.yml
Due: none

update supporting packages (#164)
  sitemap.xml
Due: none

bump dev version (#165)
  .appveyor.yml
Due: none

bump dev version (#165)
  sitemap.xml
Due: none

update package version
  src/Certes/Certes.csproj
Due: acme
