Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

update appveyor build
  .appveyor.yml
Due: none

update test
  .appveyor.yml
  test/Certes.Tests/Certes.Tests.csproj
Due: none

fix test not running
  .appveyor.yml
  .travis.yml
Due: none

fix build warning
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

remove unused pkg
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

Add Azure Pipelines (#201)
  .appveyor.yml
  .codecov.yml
  .config/dotnet-tools.json
  .travis.yml
  azure-pipelines.yml
  misc/AssemblyInfo.Shared.cs
  misc/certes.props
  scripts/build.yml
  scripts/pack.yml
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/Properties/AssemblyInfo.cs
  src/Certes/Certes.csproj
  src/Certes/Properties/AssemblyInfo.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme, cli

fix dotnet-certes not being pack as dotnet tool
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

update build script
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

fix missing dll in tool
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

update build config (#202)
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

update build config (#202)
  sitemap.xml
Due: none

fix: add user-agent to http client
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/AcmeHttpHandler.cs
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
Due: acme

fix: adding keyAuthz attribute to http-01 challenge response
  docs/CLI.md
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
Due: cli

Updating tests due to http-01 cli fix
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
Due: none

fix: adding description to docs
  docs/CLI.md
Due: none

Return http challenge file and txt data to be able to create acme-challenge file
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
Due: cli

Update test for validation the http challenge parameters
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
Due: none

Add options to set the key-algorithm when finilize order and autogenerate private key
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
Due: cli

remove support for netstandard1.3
  Certes.sln
  src/Certes/Certes.csproj
  src/Certes/Pkcs/CertificationRequestBuilder.cs
Due: acme

remove support for netcoreapp1.0
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
  test/scripts/tls-alpn-responder.go
Due: cli

update az func runtime
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: none

fix: add user-agent to http client (#204)
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/AcmeHttpHandler.cs
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
Due: acme

HTTP-01 CLI challenge fix (#207)
  docs/CLI.md
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
Due: cli

HTTP-01 CLI challenge fix (#207)
  CLI.html
  manifest.json
  sitemap.xml
Due: none

Return http challenge data (#209)
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
Due: cli

Return http challenge data (#209)
  sitemap.xml
Due: none

update doc
  docs/CHANGELOG.md
Due: none

upgrade cli to netcoreapp3.1
  .appveyor.yml
  .travis.yml
  azure-pipelines.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/AcmeClientTests.cs
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

switch sdk preference
  scripts/build.yml
Due: none

update build script
  scripts/build.yml
Due: none

update build script
  scripts/build.yml
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

Merge pull request #215 from fszlin/elin/remove-netstandard1.3
  CHANGELOG.html
  manifest.json
  sitemap.xml
Due: none

Merge pull request #211 from Tasteful/key-algorithm
  sitemap.xml
Due: none

update change log for v2.3.4
  docs/CHANGELOG.md
Due: none

Merge pull request #216 from fszlin/elin/chg-log-2.3.4
  CHANGELOG.html
  manifest.json
  sitemap.xml
Due: none
