Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at http://docs.codecov.io/docs/codecov-yaml
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new

update codecov flags
  appveyor.yml
Due: none

update codecov settings
  codecov.yml
Due: none

setup codecov flags (#34)
  appveyor.yml
  codecov.yml
Due: none

[cli] remove v1 commands (#32)
  src/Certes.Cli/CliContext.cs
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Command.cs
  src/Certes.Cli/ContextFactory.cs
  src/Certes.Cli/DictionaryExtensions.cs
  src/Certes.Cli/Options/AuthorizationOptions.cs
  src/Certes.Cli/Options/CertificateOptions.cs
  src/Certes.Cli/Options/ImportOptions.cs
  src/Certes.Cli/Options/RegisterOptions.cs
  src/Certes.Cli/Processors/AuthorizationCommand.cs
  src/Certes.Cli/Processors/CertificateCommand.cs
  src/Certes.Cli/Processors/CommandBase.cs
  src/Certes.Cli/Processors/ImportCommand.cs
  src/Certes.Cli/Processors/RegisterCommand.cs
  src/Certes/Acme/AcmeHttpHandler.cs
  src/Certes/KeyAlgorithm.cs
  test/Certes.Tests.Integration/AcmeClientIntegrationTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegrationTests.cs
  test/Certes.Tests.Integration/Cli/CliTests.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/Acme/AcmeCertificateTests.cs
  test/Certes.Tests/Acme/AuthorizationIdentifierTests.cs
  test/Certes.Tests/Acme/RevokeCertificateTests.cs
  test/Certes.Tests/Cli/Processors/ImportCommandTests.cs
  test/Certes.Tests/Helper.v2.cs
Due: acme, cli

:packages:
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

update packages
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

update :package: (#35)
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

add set-server command
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/ICliCommand.cs
  src/Certes.Cli/Commands/SetServerCommand.cs
  src/Certes.Cli/Program.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

+tests
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/SetServerCommand.cs
  src/Certes.Cli/Processors/AccountCommand.cs
  src/Certes.Cli/Processors/AzureCommand.cs
  src/Certes.Cli/Processors/OrderCommand.cs
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Commands/SetServerCommandTests.cs
  test/Certes.Tests/Cli/Processors/AccountCommandTests.cs
  test/Certes.Tests/Cli/Processors/AzureCommandTests.cs
  test/Certes.Tests/Cli/Processors/OrderCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Helper.cs
Due: cli

+tests
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/SetServerCommand.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Cli/StringsTests.cs
Due: cli

remove unused code
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/SetServerCommand.cs
Due: cli

+tests
  test/Certes.Tests/Cli/StringsTests.cs
Due: none

update cmd handling
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/ICliCommand.cs
  src/Certes.Cli/Commands/SetServerCommand.cs
  test/Certes.Tests/Cli/Commands/SetServerCommandTests.cs
Due: cli

add placeholder for v2 endpoint
  src/Certes.Cli/Commands/SetServerCommand.cs
  src/Certes.Cli/Options/OptionsV2Base.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes/Acme/WellKnownServers.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: acme, cli

fix tests
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: none

rename default server field
  src/Certes.Cli/Commands/SetServerCommand.cs
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Commands/SetServerCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

remove unused var
  src/Certes.Cli/Commands/SetServerCommand.cs
Due: cli

enable parallel execution of integration tests
  appveyor.yml
  codecov.yml
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountDiscoveryTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountFlowTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateWithES256Tests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateWithES384Tests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.ChangeAccountTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/AcmeContextIntegrationTests.cs
Due: none

enable parallel execution of integration tests (#38)
  appveyor.yml
  codecov.yml
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountDiscoveryTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountFlowTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateWithES256Tests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateWithES384Tests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.ChangeAccountTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/AcmeContextIntegrationTests.cs
Due: none

auto discover commands
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/SetServerCommand.cs
Due: cli

support command group
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/ICliCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/Program.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/WellKnownServers.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
Due: acme, cli

fix tests
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
Due: none

clean up tests
  test/Certes.Tests/Cli/CliCoreTests.cs
Due: none

[cli] add `server` commands (#37)
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/ICliCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/Options/OptionsV2Base.cs
  src/Certes.Cli/Processors/AccountCommand.cs
  src/Certes.Cli/Processors/AzureCommand.cs
  src/Certes.Cli/Processors/OrderCommand.cs
  src/Certes.Cli/Program.cs
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/WellKnownServers.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
  test/Certes.Tests/Cli/Processors/AccountCommandTests.cs
  test/Certes.Tests/Cli/Processors/AzureCommandTests.cs
  test/Certes.Tests/Cli/Processors/OrderCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Cli/StringsTests.cs
  test/Certes.Tests/Helper.cs
Due: acme, cli

add config for analysis
  .bettercodehub.yml
  Certes.sln
Due: none

add config for code analysis (#40)
  .bettercodehub.yml
  Certes.sln
Due: none

add account new command
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

update account new command
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/Settings/AcmeSettings.cs
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
Due: cli

[cli] add DI
  src/Certes.Cli/AcmeContextFactory.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/IAcmeContextFactory.cs
  src/Certes.Cli/Program.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
  test/Certes.Tests/Cli/ProgramTests.cs
  test/Certes.Tests/Helper.cs
Due: cli

+tests
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/FileUtil.cs
  src/Certes.Cli/FileUtilImpl.cs
  src/Certes.Cli/IFileUtil.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
Due: cli

+tests
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/FileUtil.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
  test/Certes.Tests/Cli/Processors/AccountCommandTests.cs
  test/Certes.Tests/Cli/Processors/AzureCommandTests.cs
  test/Certes.Tests/Cli/Processors/OrderCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

add bch badge
  docs/README.v2.md
Due: none

remove unused code
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
Due: cli

add bch badge (#43)
  docs/README.v2.md
Due: none

fix tests
  src/Certes.Cli/Commands/AccountNewCommand.cs
Due: cli

fix test data
  appveyor.yml
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Data/leaf-cert-expire.cer
  test/Certes.Tests/Data/leaf-cert.pem
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

redurce build log
  appveyor.yml
Due: none

fix test data (#44)
  appveyor.yml
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Data/leaf-cert-expire.cer
  test/Certes.Tests/Data/leaf-cert.pem
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

[cli] add account new command (#42)
  src/Certes.Cli/AcmeContextFactory.cs
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/FileUtil.cs
  src/Certes.Cli/FileUtilImpl.cs
  src/Certes.Cli/IAcmeContextFactory.cs
  src/Certes.Cli/IFileUtil.cs
  src/Certes.Cli/Program.cs
  src/Certes.Cli/Settings/AcmeSettings.cs
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
  test/Certes.Tests/Cli/Processors/AccountCommandTests.cs
  test/Certes.Tests/Cli/Processors/AzureCommandTests.cs
  test/Certes.Tests/Cli/Processors/OrderCommandTests.cs
  test/Certes.Tests/Cli/ProgramTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Helper.cs
Due: cli
