Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

add version info to help texts
  src/Certes.Cli/CliCore.cs
Due: cli

Revert "updates for draft-10 (#66)"
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/ChallengeStatus.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  test/Certes.Tests/Acme/Resource/AuthorizationTests.cs
Due: acme

Revert "updates for draft-10 (#66)" (#67)
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/ChallengeStatus.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  test/Certes.Tests/Acme/Resource/AuthorizationTests.cs
Due: acme

* fix typos * fix azure dns deployment error
  src/Certes.Cli/Commands/AzureCommand.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

support reading cert key from env var
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
Due: cli

support custom private key for csr
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
Due: cli

make private key required for pfx and az commands
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
Due: cli

minimize outputing cert key to console
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
Due: cli

+tests
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
Due: none

cover `using`?
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
Due: none

Revert "cover `using`?"
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
Due: none

+logging
  src/Certes.Cli/Commands/OrderValidateCommand.cs
Due: cli

+tests
  test/Certes.Tests/Cli/ArgumentSyntaxExtensionsTests.cs
Due: none

update cli parameters (#64)
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommand.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes.Cli/Settings/EnvironmentVariables.cs
  src/Certes.Cli/Settings/IEnvironmentVariables.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Cli/ArgumentSyntaxExtensionsTests.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountUpdateCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderListCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderValidateCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
  test/Certes.Tests/Cli/Settings/EnvironmentVariablesTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Helper.cs
  test/Certes.Tests/Helper.v2.cs
Due: cli

replace dns factory with delegate
  src/Certes.Cli/Azure/AzureDnsClientFactory.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/DnsClientFactory.cs
  src/Certes.Cli/IDnsClientFactory.cs
  src/Certes.Cli/Program.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/DnsClientFactoryTests.cs
Due: cli

add test coverage to travis
  .gitignore
  .travis.yml
  test/Certes.Tests/Certes.Tests.csproj
Due: none

update scripts
  .travis.yml
Due: none

update script
  .travis.yml
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
Due: none

update script
  .travis.yml
Due: none

update scripts
  .travis.yml
  appveyor.yml
Due: none

test script
  appveyor.yml
Due: none

update script
  .travis.yml
  appveyor.yml
Due: none

update pfx friendly name
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
Due: cli

fix az cert upload error
  src/Certes.Cli/Commands/AzureAppCommand.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: cli

+tests
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: none

update tests
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: none

v2 release
  docs/CHANGELOG.md
  docs/README.md
Due: none

v2 release (#72)
  docs/CHANGELOG.md
  docs/README.md
Due: none

fix tag names
  appveyor.yml
Due: none

bump pkg versions
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
Due: acme, cli

:package:
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: none

update package versions (#73)
  appveyor.yml
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: acme, cli

update cli (#71)
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: cli

update doc
  docs/CHANGELOG.md
  docs/README.md
Due: none

update doc
  docs/README.md
Due: none

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
