Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

update account tests
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/FileUtil.cs
  src/Certes.Cli/FileUtilImpl.cs
  src/Certes.Cli/IFileUtil.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
Due: cli

add account show command
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

+test
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
Due: none

add account set command
  src/Certes.Cli/Commands/AccountSetCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/AccountSetCommandTests.cs
Due: cli

add account update command.
  src/Certes.Cli/Commands/AccountUpdateCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/AccountUpdateCommandTests.cs
Due: cli

update IAccountContext.Update to return account entity
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/IAccountContext.cs
  src/Certes/Extensions/IAccountContextExtensions.cs
  test/Certes.Tests/Cli/Commands/AccountUpdateCommandTests.cs
  test/Certes.Tests/IAccountContextExtensionsTests.cs
Due: acme

fix tests
  src/Certes.Cli/Commands/AccountUpdateCommand.cs
Due: cli

[cli] add `account show` command (#45)
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/FileUtil.cs
  src/Certes.Cli/FileUtilImpl.cs
  src/Certes.Cli/IFileUtil.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
Due: cli

[cli] add `account set` command (#46)
  src/Certes.Cli/Commands/AccountSetCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/AccountSetCommandTests.cs
Due: cli

[cli] add `account update` command (#47)
  src/Certes.Cli/Commands/AccountUpdateCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/IAccountContext.cs
  src/Certes/Extensions/IAccountContextExtensions.cs
  test/Certes.Tests/Cli/Commands/AccountUpdateCommandTests.cs
  test/Certes.Tests/IAccountContextExtensionsTests.cs
Due: acme, cli

add `order list` command
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/OrderListCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

add `order new` command
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

add `order show` command
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/OrderShowCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

add `order authz` command
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Extensions/IAuthorizationContextExtensions.cs
Due: acme, cli

add `order validate` command
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/OrderListCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Commands/OrderShowCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

add `order finalize` command
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/FileUtilImpl.cs
  src/Certes.Cli/IFileUtil.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes.Cli/cert-key.pem
Due: cli

fix tests
  src/Certes.Cli/FileUtilImpl.cs
Due: cli

+tests
  src/Certes.Cli/Commands/OrderListCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes.Cli/cert-key.pem
  test/Certes.Tests/Cli/Commands/OrderListCommandTests.cs
Due: cli

+tests
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
Due: none

+tests
  src/Certes.Cli/FileUtilImpl.cs
  test/Certes.Tests/Cli/Commands/OrderShowCommandTests.cs
Due: cli

+tests
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderListCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderShowCommandTests.cs
Due: cli

+tests
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/OrderValidateCommandTests.cs
Due: cli

add dn option for `order finalize`
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme, cli

+tests
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
Due: none

remove poc commands
  src/Certes.Cli/Processors/AccountCommand.cs
  src/Certes.Cli/Processors/OrderCommand.cs
  test/Certes.Tests/Cli/Processors/AccountCommandTests.cs
  test/Certes.Tests/Cli/Processors/OrderCommandTests.cs
Due: cli

[cli] add order commands (#51)
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Commands/OrderListCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Commands/OrderShowCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/FileUtilImpl.cs
  src/Certes.Cli/IFileUtil.cs
  src/Certes.Cli/Processors/AccountCommand.cs
  src/Certes.Cli/Processors/OrderCommand.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Extensions/IAuthorizationContextExtensions.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderListCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderValidateCommandTests.cs
  test/Certes.Tests/Cli/Processors/AccountCommandTests.cs
  test/Certes.Tests/Cli/Processors/OrderCommandTests.cs
Due: acme, cli

update :packages:
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

+tests
  test/Certes.Tests/Cli/AcmeContextFactoryTests.cs
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
Due: none

reflector pem/der conversion for certificates
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/CertificateChain.cs
  src/Certes/Acme/CertificateContent.cs
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/Extensions/CertificateInfo.cs
  src/Certes/IEncodable.cs
  src/Certes/IKey.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme, cli

add 'cert pem' command
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
Due: cli

fix tests
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
Due: none

add `cert pfx` command
  src/Certes.Cli/Commands/CertificateCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
Due: cli

[cli] add cert commands (#53)
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/CertificateCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/CertificateChain.cs
  src/Certes/Acme/CertificateContent.cs
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/Extensions/CertificateInfo.cs
  src/Certes/IEncodable.cs
  src/Certes/IKey.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests/Cli/AcmeContextFactoryTests.cs
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme, cli

rollback xunite upgrade
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

update api for generate pfx
  src/Certes.Cli/Processors/AzureCommand.cs
  src/Certes/Extensions/CertificateInfo.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/CertificateInfoTest.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme, cli

update api for generate pfx (#54)
  src/Certes.Cli/Processors/AzureCommand.cs
  src/Certes/Extensions/CertificateInfo.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/CertificateInfoTest.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme, cli

add suffix to v1 entity to avoid ambiguity
  src/Certes/Acme/AcmeAccount.cs
  src/Certes/Acme/AcmeCertificate.cs
  src/Certes/Acme/AuthorizationContext.cs
  src/Certes/Acme/AuthorizationEntity.cs
  src/Certes/Acme/CertificateEntity.cs
  src/Certes/Acme/ChallengeEntity.cs
  src/Certes/Acme/ChallengeTypes.cs
  src/Certes/Acme/IAuthorizationContext.cs
  src/Certes/Acme/RegistrationEntity.cs
  src/Certes/Acme/RevokeCertificateEntity.cs
  src/Certes/AcmeClient.cs
  src/Certes/Extensions/IAuthorizationContextExtensions.cs
  src/Certes/IAcmeClient.cs
  test/Certes.Tests.Integration/AcmeClientIntegrationTests.cs
  test/Certes.Tests/Acme/AuthorizationContextTests.cs
  test/Certes.Tests/Acme/ChallengeTests.cs
  test/Certes.Tests/Acme/RegistrationTests.cs
  test/Certes.Tests/Acme/RevokeCertificateTests.cs
  test/Certes.Tests/AcmeClientTests.cs
Due: acme

add suffix to v1 entity to avoid ambiguity (#55)
  src/Certes/Acme/AcmeAccount.cs
  src/Certes/Acme/AcmeCertificate.cs
  src/Certes/Acme/AuthorizationContext.cs
  src/Certes/Acme/AuthorizationEntity.cs
  src/Certes/Acme/CertificateEntity.cs
  src/Certes/Acme/ChallengeEntity.cs
  src/Certes/Acme/ChallengeTypes.cs
  src/Certes/Acme/IAuthorizationContext.cs
  src/Certes/Acme/RegistrationEntity.cs
  src/Certes/Acme/RevokeCertificateEntity.cs
  src/Certes/AcmeClient.cs
  src/Certes/Extensions/IAuthorizationContextExtensions.cs
  src/Certes/IAcmeClient.cs
  test/Certes.Tests.Integration/AcmeClientIntegrationTests.cs
  test/Certes.Tests/Acme/AuthorizationContextTests.cs
  test/Certes.Tests/Acme/ChallengeTests.cs
  test/Certes.Tests/Acme/RegistrationTests.cs
  test/Certes.Tests/Acme/RevokeCertificateTests.cs
  test/Certes.Tests/AcmeClientTests.cs
Due: acme

update test dependencies (#52)
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

update doc for v2
  Certes.sln
  docs/README.md
  docs/README.v1.md
  docs/README.v2.md
Due: none

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
