Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

update cli dependencies
  src/Certes.Cli/AzureClientFactory.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommand.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
Due: cli

code reflectoring
  src/Certes.Cli/Commands/AzureCommand.cs
Due: cli

Merge pull request #218 from fszlin/elin/cli-dep
  sitemap.xml
Due: none

set az client subscription id
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
Due: cli

Merge pull request #219 from fszlin/elin/cli-azsub-id
  sitemap.xml
Due: none

Make GeneratePkcs10 public
  src/Certes/Pkcs/CertificationRequestBuilder.cs
Due: acme

Accept a PEM other than a AsymmetricCipherKeyPair
  src/Certes/Crypto/KeyAlgorithmProvider.cs
Due: acme

remove last references to netstandard 1.3 https://github.com/fszlin/certes/pull/215
  docs/README.md
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/AcmeException.cs
  src/Certes/AcmeRequestException.cs
Due: acme

Implement External Account Binding (EAB) support
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AcmeDirectory.cs
  src/Certes/Acme/Resource/Account.cs
  src/Certes/AcmeContext.cs
  src/Certes/IAcmeContext.cs
Due: acme

Accept a PEM other than a AsymmetricCipherKeyPair
  src/Certes/Crypto/KeyAlgorithmProvider.cs
  src/Certes/Pkcs/CertificationRequestBuilder.cs
Due: acme

Update IAcmeContextExtensions for EAB
  src/Certes/Extensions/IAcmeContextExtensions.cs
Due: acme

Fix existing test
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
Due: none

add support for alternate link relation
  docs/APIv2.md
  docs/CHANGELOG.md
  docs/CLI.md
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/CertificateCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/CertificateChain.cs
  src/Certes/Acme/IOrderContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByTlsAlpnTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme, cli

add missing return documentation tag
  src/Certes/Acme/CertificateChain.cs
Due: acme

return default chain if no chain is found for preferred-chain argument
  src/Certes/Acme/OrderContext.cs
Due: acme

check if alternate links are available rename issuer check
  src/Certes/Acme/CertificateChain.cs
  src/Certes/Acme/OrderContext.cs
Due: acme

embed the isrg-root-x1 cert
  src/Certes/Certes.csproj
  src/Certes/Resources/Certificates/isrg-root-x1.pem
Due: acme

Cleanup, fix hash algorithm selection and update docs
  docs/APIv2.md
  docs/CHANGELOG.md
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AcmeDirectory.cs
Due: acme

check for order.State == processing in IOrderContextExtensions.Generate() update docs for order state
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/AcmeHttpResponse.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/IResourceContext.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme

correctly set the retryafter on ordercontext in Finalize()
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme

set default retry count to 1
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme

fixes the docs
  src/Certes/Acme/AcmeHttpResponse.cs
Due: acme

refactor ProcessResponse to meet Better Code Hub guidelines
  src/Certes/Acme/AcmeHttpClient.cs
Due: acme

retry request on badNonce error
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AuthorizationContext.cs
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/AcmeContext.cs
  src/Certes/Jws/JwsSigner.cs
Due: acme

small refactorings
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/Jws/JwsSigner.cs
Due: acme

refactor Post<T> extensions and add docs
  src/Certes/Acme/IAcmeHttpClient.cs
Due: acme

Post extension cannot create a JwsSigner from Account because of the Tests
  src/Certes/Acme/IAcmeHttpClient.cs
Due: acme

add tests for OrderState.Processing in Generate()
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

remove unnecessary/empty Callback
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

add tests for retry on bad-nonce
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AuthorizationContext.cs
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/AcmeContext.cs
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
Due: acme

also check leaf cert issuer in MatchesPreferredChain add testcase for alternate link relation
  src/Certes/Acme/CertificateChain.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Data/alternateLeaf.pem
  test/Certes.Tests/Data/defaultLeaf.pem
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

fix test for unknown root
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

Dispose of HMAC instances immediately.
  src/Certes/Acme/AccountContext.cs
Due: acme

move the BadNonceRetryCount to the AcmeContext
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/AcmeContext.cs
  src/Certes/IAcmeContext.cs
  src/Certes/Jws/JwsSigner.cs
  test/Certes.Tests/Acme/AuthorizationContextTests.cs
  test/Certes.Tests/Acme/EntityContextTests.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
Due: acme

Alternate link relation (#233)
  docs/APIv2.md
  docs/CHANGELOG.md
  docs/CLI.md
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/CertificateCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/CertificateChain.cs
  src/Certes/Acme/IOrderContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/Certes.csproj
  src/Certes/Extensions/IOrderContextExtensions.cs
  src/Certes/Resources/Certificates/isrg-root-x1.pem
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByTlsAlpnTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Data/alternateLeaf.pem
  test/Certes.Tests/Data/defaultLeaf.pem
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme, cli

Alternate link relation (#233)
  APIv2.html
  CHANGELOG.html
  CLI.html
  api/certes/Certes.Acme.CertificateChain.html
  api/certes/Certes.Acme.IOrderContext.html
  api/certes/Certes.IOrderContextExtensions.html
  manifest.json
  sitemap.xml
  xrefmap.yml
Due: none

External account binding (#234)
  docs/APIv2.md
  docs/CHANGELOG.md
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AcmeDirectory.cs
  src/Certes/Acme/Resource/Account.cs
  src/Certes/AcmeContext.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  src/Certes/IAcmeContext.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
Due: acme

External account binding (#234)
  APIv2.html
  CHANGELOG.html
  api/certes/Certes.Acme.AcmeDirectory.AcmeDirectoryMeta.html
  api/certes/Certes.Acme.Resource.Account.html
  api/certes/Certes.AcmeContext.html
  api/certes/Certes.IAcmeContext.html
  api/certes/Certes.IAcmeContextExtensions.html
  manifest.json
  sitemap.xml
  xrefmap.yml
Due: none
