Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

bump version to 3.0
  GitVersion.yml
Due: none

Avoid updating default HTTP headers
  src/Certes/Acme/AcmeHttpClient.cs
Due: acme

fix unit tests
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
Due: none

Merge pull request #265 from fszlin/v3-rel
  api/certes/Certes.Acme.AcmeHttpClient.html
  manifest.json
  sitemap.xml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  sitemap.xml
Due: none

update git version settings
  GitVersion.yml
Due: none

update gitversion setting
  GitVersion.yml
Due: none

update version
  GitVersion.yml
  scripts/pack.yml
Due: none

update version settings
  GitVersion.yml
Due: none

update version setting
  GitVersion.yml
Due: none

Merge pull request #267 from fszlin/dev/ver-inc
  sitemap.xml
Due: none

Implement optional keySize for RSA keys
  src/Certes/Crypto/EllipticCurveAlgorithm.cs
  src/Certes/Crypto/IKeyAlgorithm.cs
  src/Certes/Crypto/RS256Algorithm.cs
  src/Certes/KeyFactory.cs
Due: acme

Update Key Algorithm tests for RSA key sizes
  test/Certes.Tests/Crypto/KeyAlgorithmProviderTests.cs
Due: none

remove netcoreapp2.1 tests
  GitVersion.yml
  misc/certes.props
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update git ver
  GitVersion.yml
Due: none

Merge pull request #273 from fszlin/dev/remove-netcoreapp21
  sitemap.xml
Due: none

Update prefferedChain now checks the root CA instead of any Issuer
  src/Certes/Acme/CertificateChain.cs
Due: acme

Update target frameworks
  .travis.yml
  azure-pipelines.yml
  misc/certes.props
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme, cli

Fixing integration tests
  src/Certes/Acme/AcmeHttpClient.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.AccountFlowTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

Update integration tests
  Certes.sln
  test/Certes.Func/.gitignore
  test/Certes.Func/Certes.Func.csproj
  test/Certes.Func/DnsChanllengeFunction.cs
  test/Certes.Func/Helper.cs
  test/Certes.Func/HttpChanllengeFunction.cs
  test/Certes.Func/Program.cs
  test/Certes.Func/host.json
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
Due: none

Fix tests
  .gitignore
  Certes.sln
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Func/Properties/serviceDependencies.json
  test/Certes.Func/Properties/serviceDependencies.local.json
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByTlsAlpnTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/CertificateFunction.cs
  test/Certes.Tests.Web/DnsChanllengeFunction.cs
  test/Certes.Tests.Web/Helper.cs
  test/Certes.Tests.Web/HttpChanllengeFunction.cs
  test/Certes.Tests.Web/Program.cs
  test/Certes.Tests.Web/host.json
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Helper.cs
  test/Certes.Tests/IntegrationHelper.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
  test/scripts/tls-alpn-responder.go
Due: acme

Update builds
  azure-pipelines.yml
  scripts/build.yml
Due: none

Add null check for finalizing order
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme

Propagate network errors
  .appveyor.yml
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
Due: acme

Update build scripts
  .appveyor.yml
  scripts/build.yml
Due: none

Added DefaultValueHandling to the JsonSerializerSettings used for the ACME entity serialization
  src/Certes/Json/JsonUtil.cs
Due: acme

Update README.md
  docs/README.md
Due: none

Update APIv2.md
  docs/APIv2.md
Due: none

Update PfxBuilder.cs
  src/Certes/Pkcs/PfxBuilder.cs
Due: acme

Change BouncyCastle library from Portable.BouncyCastle to BouncyCastle.Cryptography
  src/Certes/Certes.csproj
  src/Certes/Pkcs/PfxBuilder.cs
Due: acme

Retire legacy CI and document revival workflow
  .appveyor.yml
  .bettercodehub.yml
  .codecov.yml
  .config/dotnet-tools.json
  .github/CONTRIBUTING.md
  .travis.yml
  AGENTS.md
  Certes.sln
  README.md
  azure-pipelines.yml
  docs/README.md
  docs/ci-migration.md
  scripts/build.yml
  scripts/pack.yml
Due: none

Address revival documentation review feedback
  .github/CONTRIBUTING.md
  README.md
  docs/README.md
  docs/ci-migration.md
Due: none

Add GitHub Actions build and package smoke checks
  .github/workflows/build.yml
  AGENTS.md
  README.md
  docs/README.md
  docs/ci-migration.md
  scripts/PackageSmoke/PackageSmoke.csproj
  scripts/PackageSmoke/Program.cs
Due: none

Restore documentation submodule metadata for CI checkout
  .gitmodules
  docs/ci-migration.md
Due: none

Record successful hosted build verification
  docs/ci-migration.md
Due: none

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
