Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

mark Challenge.KeyAuthorization obsolete (#104)
  src/Certes/Acme/Resource/Challenge.cs
Due: acme

upgrade sdk to netcore 2.1 rc1 for CLI
  .appveyor.yml
Due: none

bump version for dev
  .appveyor.yml
  src/Certes/Certes.csproj
Due: acme

Update SDK to netcore 2.1 rc1 for CLI (#105)
  .appveyor.yml
  src/Certes/Certes.csproj
Due: acme

strong name signing
  misc/AssemblyInfo.Shared.cs
  misc/certes.props
  misc/certes.snk
  src/Certes.Cli/Properties/AssemblyInfo.cs
  src/Certes/Properties/AssemblyInfo.cs
Due: acme, cli

update packages
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

+ changelog
  docs/CHANGELOG.md
Due: none

set PublicSign to true
  misc/certes.props
Due: none

update public sign setting
  misc/certes.props
Due: none

strong name signing (#107)
  docs/CHANGELOG.md
  misc/AssemblyInfo.Shared.cs
  misc/certes.props
  misc/certes.snk
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/Properties/AssemblyInfo.cs
  src/Certes/Properties/AssemblyInfo.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme, cli

bump version for dev
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

update dev version to 2.2.2 (#108)
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

fix expired test certificates
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Helper.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

fix travis build error
  test/Certes.Tests/Helper.cs
Due: none

fix test error
  test/Certes.Tests/Helper.cs
Due: none

fix tests
  test/Certes.Tests/Helper.cs
Due: none

Fix expired test certificates (#113)
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Helper.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

fix wildcard tests
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
Due: none

Changed to Newtonsoft.Json 10.0.3 for PowerShell Core
  src/Certes/Certes.csproj
Due: acme

update travis settings
  .travis.yml
Due: none

update tests
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

update tests
  test/Certes.Tests/Helper.cs
Due: none

fix test failing intermittently on travis-ci (#116)
  .travis.yml
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Helper.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

Changed to Newtonsoft.Json 10.0.3 for PowerShell Core (#115)
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

update dotnet packages to v2.1
  .appveyor.yml
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

update sdk to v2.1
  .appveyor.yml
  .travis.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

fixing travis-ci script
  .travis.yml
Due: none

fix build script
  .travis.yml
Due: none

update build script
  .travis.yml
Due: none

fix typo
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
Due: none

update sdk to v2.1 (#118)
  .appveyor.yml
  .travis.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update readme
  docs/README.md
Due: none

update readme for CLI (#119)
  docs/README.md
Due: none

bump dev version
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: acme, cli

bump dev version (#120)
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: acme, cli

Fix test
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
Due: none

update travis to dotnet 2.1
  .travis.yml
Due: none
