Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

Address build workflow review feedback
  .github/workflows/build.yml
  AGENTS.md
  docs/ci-migration.md
  scripts/PackageSmoke/PackageSmoke.csproj
Due: none

Replace hosted unit-test certificates with offline fixtures
  .github/workflows/build.yml
  AGENTS.md
  README.md
  docs/README.md
  docs/ci-migration.md
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/CertificateFixture.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Helper.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

Clarify fixture coverage and address test review feedback
  .github/workflows/build.yml
  docs/ci-migration.md
  test/Certes.Tests/CertificateFixture.cs
Due: none

Move development and CLI to .NET 10
  .github/workflows/build.yml
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/ci-migration.md
  global.json
  scripts/PackageSmoke/PackageSmoke.csproj
  scripts/PackageSmoke/Program.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes/AcmeException.cs
  src/Certes/AcmeRequestException.cs
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
Due: acme, cli

Keep SDK selection flexible for local development
  .github/workflows/build.yml
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/ci-migration.md
  global.json
Due: none

Add .NET 8 package coverage and enforce asset selection
  .github/workflows/build.yml
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/ci-migration.md
  scripts/PackageSmoke/PackageSmoke.csproj
  scripts/PackageSmoke/Program.cs
  src/Certes/Certes.csproj
Due: acme

Run ACME integration tests against pinned local Pebble
  .github/workflows/build.yml
  AGENTS.md
  README.md
  docs/ci-migration.md
  scripts/Pebble/README.md
  scripts/Pebble/compose.yml
  scripts/Pebble/localhost.pem
  scripts/Pebble/wait.sh
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByDnsTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByTlsAlpnTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Integration/ChallengeFailureTests.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests.Integration/Readme.cs
Due: none

Address Pebble review with TLS-ALPN coverage and diagnostics
  AGENTS.md
  docs/ci-migration.md
  scripts/Pebble/README.md
  scripts/Pebble/compose.yml
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByTlsAlpnTests.cs
  test/Certes.Tests.Integration/ChallengeFailureTests.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/ISignatureKeyExtensionsTests.cs
Due: none

Fix order polling retry handling
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/Acme/EntityContextTests.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Add OpenCode repository configuration
  .gitignore
  opencode.jsonc
Due: none

Address order polling review feedback
  AGENTS.md
  docs/CHANGELOG.md
  scripts/Pebble/README.md
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Revert "Add OpenCode repository configuration"
  .gitignore
  opencode.jsonc
Due: none

Bound server-directed polling delays
  docs/CHANGELOG.md
  scripts/Pebble/README.md
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Fix order polling and Retry-After handling (#336)
  AGENTS.md
  docs/CHANGELOG.md
  scripts/Pebble/README.md
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/Acme/EntityContextTests.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Add OpenCode repository configuration (#337)
  .gitignore
  opencode.jsonc
Due: none

Handle missing alternate certificate links
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Acme/OrderContext.cs
  src/Certes/Acme/OrderListContext.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
  test/Certes.Tests/Acme/OrderListContextTests.cs
Due: acme

Handle missing alternate certificate links (#338)
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Acme/OrderContext.cs
  src/Certes/Acme/OrderListContext.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
  test/Certes.Tests/Acme/OrderListContextTests.cs
Due: acme

Export certificate chains without requiring a self-signed root
  docs/CHANGELOG.md
  src/Certes/Pkcs/CertificationStore.cs
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests/CertificateFixture.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Verify issuer signatures when building the export chain
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Pkcs/CertificationStore.cs
  test/Certes.Tests/CertificateFixture.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Assert the cycle-guard invariant instead of a bare chain length
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
Due: none

Export certificate chains without requiring a self-signed root (#339)
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Pkcs/CertificationStore.cs
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests/CertificateFixture.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Retain cross-signed issuer alternates
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Pkcs/CertificationStore.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
Due: acme

Prefer unexpired issuer alternates
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Pkcs/CertificationStore.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
Due: acme

Keep supplied issuers ahead of the embedded fallback
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Pkcs/CertificationStore.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
Due: acme

Retain cross-signed issuer alternates (#342)
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Pkcs/CertificationStore.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
Due: acme

Stop shipping and consulting embedded CA roots
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
  src/Certes/Pkcs/CertificationStore.cs
  src/Certes/Pkcs/PfxBuilder.cs
  src/Certes/Resources/Certificates/dst-root-ca-x3.pem
  src/Certes/Resources/Certificates/fake-le-root-x1.pem
  src/Certes/Resources/Certificates/isrg-root-x1.pem
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
Due: acme

Pin packaging-only export and correct the export documentation
  docs/CHANGELOG.md
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests/CertificateFixture.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Stop shipping and consulting embedded CA roots (#343)
  AGENTS.md
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
  src/Certes/Pkcs/CertificationStore.cs
  src/Certes/Pkcs/PfxBuilder.cs
  src/Certes/Resources/Certificates/dst-root-ca-x3.pem
  src/Certes/Resources/Certificates/fake-le-root-x1.pem
  src/Certes/Resources/Certificates/isrg-root-x1.pem
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/CertificateFixture.cs
  test/Certes.Tests/Pkcs/CertificateStoreTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Reject mismatched PFX private keys
  docs/CHANGELOG.md
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Validate keys in PEM export
  docs/CHANGELOG.md
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/KeyFactory.cs
  src/Certes/Pkcs/PfxBuilder.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Clarify key validation method naming and add KeyPairFor helper
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/KeyFactory.cs
  src/Certes/Pkcs/PfxBuilder.cs
Due: acme

Optimize key validation to avoid duplicate parsing
  src/Certes/KeyFactory.cs
Due: acme

Reject mismatched PFX private keys (#345)
  docs/CHANGELOG.md
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/KeyFactory.cs
  src/Certes/Pkcs/PfxBuilder.cs
  src/Certes/Properties/Strings.Designer.cs
  src/Certes/Properties/Strings.resx
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

Fix: document all five required CI checks in AGENTS.md
  AGENTS.md
Due: none

Document Pebble integration as required branch check
  AGENTS.md
  docs/ci-migration.md
Due: none

Document Pebble integration as required branch check (#346)
  AGENTS.md
  docs/ci-migration.md
Due: none

Harden CLI file operations with atomic writes and secure permissions
  src/Certes.Cli/FileUtil.cs
  test/Certes.Tests/Cli/FileUtilTests.cs
Due: cli

Improve test coverage and error handling for secure file operations
  src/Certes.Cli/FileUtil.cs
  test/Certes.Tests/Cli/FileUtilTests.cs
Due: cli

Replace mock test with concrete overwrite scenario
  test/Certes.Tests/Cli/FileUtilTests.cs
Due: none

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
