Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

update package version (#166)
  src/Certes/Certes.csproj
Due: acme

update package version (#166)
  sitemap.xml
Due: none

update az build
  azure-pipelines.yml
Due: none

az build
  azure-pipelines.yml
  src/Certes.Cli/CliCore.cs
Due: cli

az build
  azure-pipelines.yml
Due: none

implement POST-as-GET
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Jws/JwsSigner.cs
  test/Certes.Tests/Acme/AccountContextTests.cs
  test/Certes.Tests/Acme/AuthorizationContextTests.cs
  test/Certes.Tests/Acme/EntityContextTests.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
Due: acme

update version
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

update log
  docs/CHANGELOG.md
Due: none

Update version (#168)
  .appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

Update version (#168)
  CHANGELOG.html
  manifest.json
  sitemap.xml
Due: none

fetch certificate using POST-as-GET
  src/Certes/Acme/OrderContext.cs
Due: acme

Implement POST-as-GET (#169)
  docs/CHANGELOG.md
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/Jws/JwsSigner.cs
  test/Certes.Tests/Acme/AccountContextTests.cs
  test/Certes.Tests/Acme/AuthorizationContextTests.cs
  test/Certes.Tests/Acme/EntityContextTests.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
Due: acme

Update CliCore.cs
  src/Certes.Cli/CliCore.cs
Due: cli

Implement POST-as-GET (#169)
  CHANGELOG.html
  manifest.json
  sitemap.xml
Due: none

update packages
  vsts/Certes.Vsts/package-lock.json
  vsts/Certes.Vsts/package.json
Due: none

add vsts build script
  .appveyor.yml
Due: none

fix build error
  Certes.sln
Due: none

fix build
  .appveyor.yml
Due: none

upload vsix
  .appveyor.yml
Due: none

update xunit packages
  .github/stale.yml
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

update xunit packages (#170)
  .github/stale.yml
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

Implement byte padding for Elliptic Curve point encoding
  src/Certes/Crypto/AsymmetricCipherKey.cs
  test/Certes.Tests/Crypto/SignatureKeyTests.cs
  test/Certes.Tests/Keys.cs
Due: acme

Address automated code review
  src/Certes/Crypto/AsymmetricCipherKey.cs
Due: acme

Simplify change by using built-in GetEncoded (), suggested by @rmbolger
  src/Certes/Crypto/AsymmetricCipherKey.cs
Due: acme

Implement JsonWebKey strict serialization order
  src/Certes/Jws/EcJsonWebKey.cs
  src/Certes/Jws/JsonWebKey.cs
  src/Certes/Jws/RsaJsonWebKey.cs
  test/Certes.Tests/Crypto/SignatureKeyTests.cs
Due: acme

Implement byte padding for Elliptic Curve point encoding as fix for #173 (#174)
  src/Certes/Crypto/AsymmetricCipherKey.cs
  src/Certes/Jws/EcJsonWebKey.cs
  src/Certes/Jws/JsonWebKey.cs
  src/Certes/Jws/RsaJsonWebKey.cs
  test/Certes.Tests/Crypto/SignatureKeyTests.cs
  test/Certes.Tests/Keys.cs
Due: acme

Fix json order being ignored due to custom ContractResolver
  src/Certes/Json/JsonUtil.cs
  test/Certes.Tests/Crypto/SignatureKeyTests.cs
Due: acme

Fix failing test. Need default contract resolver for property order, also need camel case
  src/Certes/Json/JsonUtil.cs
Due: acme

update packages
  .travis.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

Fix json order being ignored due to custom ContractResolver (#175)
  src/Certes/Json/JsonUtil.cs
  test/Certes.Tests/Crypto/SignatureKeyTests.cs
Due: acme

Fix json order being ignored due to custom ContractResolver (#175)
  manifest.json
  sitemap.xml
Due: none

update changelog
  docs/CHANGELOG.md
  src/Certes/Json/JsonUtil.cs
Due: acme

revert travis to dotnet sdk 2.1
  .travis.yml
Due: none

prepare v2.3.3 (#176)
  docs/CHANGELOG.md
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Json/JsonUtil.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme, cli

improve test dns deployment.
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/DnsChanllengeFunction.cs
Due: cli

update dependencies for tests
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

fix build error
  .appveyor.yml
Due: none
