Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

set dotnet tool command name
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

+tests
  appveyor.yml
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: none

+tests
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/IResourceClientFactory.cs
  src/Certes.Cli/ResourceClientFactory.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
  test/Certes.Tests/Cli/ResourceClientFactoryTests.cs
Due: cli

rename cli nupkg id
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

disable auto deploy to nuget.org
  appveyor.yml
Due: none

update version patching for appveyor
  AssemblyInfo.Shared.cs
  appveyor.yml
  misc/AssemblyInfo.Shared.cs
  misc/certes.props
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme, cli

update pkg version patch
  appveyor.yml
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

update ci settings
  Certes.sln
  appveyor.yml
  misc/certes.props
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
Due: acme, cli

update ci
  appveyor.yml
Due: none

update version settings
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
Due: acme, cli

update nupkg description
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
Due: acme, cli

pack cli as dotnet global tool (#60)
  .travis.yml
  AssemblyInfo.Shared.cs
  Certes.sln
  appveyor.yml
  certes.props
  misc/AssemblyInfo.Shared.cs
  misc/NuGet-tool.config
  misc/certes.props
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme, cli

fix nre when server response has not Content-Type header
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/AcmeHttpHandler.cs
Due: acme

Fix NRE when server response has no Content-Type header (#61)
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/AcmeHttpHandler.cs
Due: acme

add ci for preview branch
  appveyor.yml
Due: none

Fix NRE when server response has no Content-Type header (#61)
  src/Certes/Acme/AcmeHttpHandler.cs
Due: acme

fix build err
  src/Certes/Acme/AcmeHttpHandler.cs
Due: acme

merger `full-chain-off` option for CLI fix
  appveyor.yml
  docs/CHANGELOG.md
  src/Certes.Cli/Processors/CertificateCommand.cs
Due: cli

update param for `server set`
  src/Certes.Cli/Commands/ServerSetCommand.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
Due: cli

add sort name for `--server` and `--key` options
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
Due: cli

fix nuget tags
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
Due: acme, cli

Fix NRE when server response has no Content-Type header (#62)
  appveyor.yml
  docs/CHANGELOG.md
  src/Certes.Cli/Processors/CertificateCommand.cs
  src/Certes/Acme/AcmeHttpHandler.cs
Due: acme, cli

clean up tests
  src/Certes.Cli/Command.cs
  src/Certes.Cli/ContextFactory.cs
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/Cli/ContextFactoryTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Helper.v2.cs
Due: cli

update help option
  src/Certes.Cli/CliCore.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
Due: cli

update cli parameters (#63)
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Command.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/ContextFactory.cs
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/ContextFactoryTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Helper.v2.cs
Due: acme, cli

:packages:
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: cli

accept DER account key via CLI
  src/Certes.Cli/Commands/CommandBase.cs
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
Due: cli

remove `processing` status for authz
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  test/Certes.Tests/Acme/Resource/AuthorizationTests.cs
Due: acme

remove `key-authz` from request for challenge
  src/Certes/Acme/ChallengeContext.cs
Due: acme

update entity status
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/ChallengeStatus.cs
  src/Certes/Acme/Resource/OrderStatus.cs
Due: acme

updates for draft-10 (#66)
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/ChallengeStatus.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  test/Certes.Tests/Acme/Resource/AuthorizationTests.cs
Due: acme

Revert "accept DER account key via CLI"
  src/Certes.Cli/Commands/CommandBase.cs
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
Due: cli

reflector env variable handling
  src/Certes.Cli/Settings/EnvironmentVariables.cs
  src/Certes.Cli/Settings/IEnvironmentVariables.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountUpdateCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderListCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderValidateCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
  test/Certes.Tests/Cli/Settings/EnvironmentVariablesTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Helper.cs
  test/Certes.Tests/Helper.v2.cs
Due: cli

rename UserSettings#settingsFile to settingsFilepath
  src/Certes.Cli/Settings/UserSettings.cs
Due: cli

supports loading account key from env var
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

+tests
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: none

make env settings overwrite user settings
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

support reading az settings from env var
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
