Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

Harden CLI file operations with atomic writes and secure permissions (#347)
  src/Certes.Cli/FileUtil.cs
  test/Certes.Tests/Cli/FileUtilTests.cs
Due: cli

Refresh non-deprecated dependencies for Q3 2026
  src/Certes/Certes.csproj
Due: acme

Refresh non-deprecated dependencies for Q3 2026 (#348)
  src/Certes/Certes.csproj
Due: acme

Migrate from Newtonsoft.Json to System.Text.Json and drop net462 target
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/ConsoleExtensions.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/Resource/Account.cs
  src/Certes/Acme/Resource/AccountStatus.cs
  src/Certes/Acme/Resource/Authorization.cs
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/CertificateRevocation.cs
  src/Certes/Acme/Resource/Challenge.cs
  src/Certes/Acme/Resource/ChallengeStatus.cs
  src/Certes/Acme/Resource/Directory.cs
  src/Certes/Acme/Resource/DirectoryMeta.cs
  src/Certes/Acme/Resource/Identifier.cs
  src/Certes/Acme/Resource/IdentifierType.cs
  src/Certes/Acme/Resource/Order.cs
  src/Certes/Acme/Resource/OrderList.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  src/Certes/AcmeRequestException.cs
  src/Certes/Certes.csproj
  src/Certes/IKey.cs
  src/Certes/Json/JsonUtil.cs
  src/Certes/Jws/EcJsonWebKey.cs
  src/Certes/Jws/IAccountKey.cs
  src/Certes/Jws/JsonWebKey.cs
  src/Certes/Jws/JwsPayload.cs
  src/Certes/Jws/JwsSigner.cs
  src/Certes/Jws/RsaJsonWebKey.cs
  src/Certes/Pkcs/KeyInfo.cs
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
  test/Certes.Tests/Acme/Resource/AccountTests.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
  test/Certes.Tests/Crypto/SignatureKeyTests.cs
Due: acme, cli

Fix enum serialization to respect [EnumMember] values
  src/Certes/Acme/Resource/AccountStatus.cs
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/ChallengeStatus.cs
  src/Certes/Acme/Resource/IdentifierType.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  src/Certes/Json/JsonUtil.cs
  test/Certes.Tests/Acme/Resource/EnumSerializationTests.cs
Due: acme

Add Newtonsoft.Json to integration test project for ConfigureChallenge
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
Due: none

Fix ACME payload serialization with System.Text.Json
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/Resource/Account.cs
  src/Certes/Acme/Resource/Order.cs
  src/Certes/AcmeContext.cs
  src/Certes/IKey.cs
  src/Certes/Json/JsonUtil.cs
  src/Certes/Jws/EcJsonWebKey.cs
  src/Certes/Jws/JwsSigner.cs
  src/Certes/Jws/RsaJsonWebKey.cs
Due: acme

Refresh revival baseline documentation
  README.md
  docs/CHANGELOG.md
  docs/ci-migration.md
Due: none

Fix docs target matrix inconsistencies
  docs/CHANGELOG.md
  docs/ci-migration.md
Due: none

Refresh revival baseline documentation (#350)
  README.md
  docs/CHANGELOG.md
  docs/ci-migration.md
Due: none

Harden order lifecycle polling tests
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

Harden order lifecycle polling tests (#351)
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

Add CLI Azure SDK modernization plan
  README.md
  docs/cli-azure-modernization-plan.md
Due: none

Expand CLI modernization plan with parser migration
  docs/cli-azure-modernization-plan.md
Due: none

Add Spectre CLI host with legacy command bridge
  MIGRATION_CLI_PARSER.md
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Commands/ICliCommandExtensions.cs
  src/Certes.Cli/Commands/ServerSetCommandSpectre.cs
  src/Certes.Cli/Program.cs
Due: cli

Add Spectre CLI host with legacy command bridge (#353)
  MIGRATION_CLI_PARSER.md
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Commands/ICliCommandExtensions.cs
  src/Certes.Cli/Commands/ServerSetCommandSpectre.cs
  src/Certes.Cli/Program.cs
Due: cli

Route top-level CLI dispatch through Spectre
  src/Certes.Cli/CliCoreSpectre.cs
Due: cli

Fix Spectre relay argument pass-through
  MIGRATION_CLI_PARSER.md
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Commands/ICliCommandExtensions.cs
  src/Certes.Cli/Commands/ServerSetCommandSpectre.cs
Due: cli

Fix Spectre relay subcommand pass-through
  src/Certes.Cli/CliCoreSpectre.cs
Due: cli

Fix Spectre help output duplication
  src/Certes.Cli/CliCoreSpectre.cs
Due: cli

Route top-level CLI parsing through Spectre (#354)
  MIGRATION_CLI_PARSER.md
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Commands/ICliCommandExtensions.cs
  src/Certes.Cli/Commands/ServerSetCommandSpectre.cs
Due: cli

Add runtime regression tests for Spectre relay
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
Due: none

Add runtime regression tests for Spectre relay (#355)
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
Due: none

Migrate server commands to native Spectre handlers
  src/Certes.Cli/CliCoreSpectre.cs
Due: cli

Migrate remaining CLI groups to native Spectre handlers
  src/Certes.Cli/CliCoreSpectre.cs
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
Due: cli

Drop Azure CLI support
  docs/CLI.md
  src/Certes.Cli/AzureClientFactory.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommandBase.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/AzureOptions.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Program.cs
  src/Certes.Cli/Settings/AzureSettings.cs
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

Document Azure CLI removal
  AGENTS.md
  README.md
  docs/CHANGELOG.md
Due: none

Migrate CLI to native Spectre and drop Azure support (#356)
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/CLI.md
  src/Certes.Cli/AzureClientFactory.cs
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommandBase.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/AzureOptions.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Commands/CommandGroup.cs
  src/Certes.Cli/Program.cs
  src/Certes.Cli/Settings/AzureSettings.cs
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

Remove unused Azure CLI resource strings
  src/Certes.Cli/Strings.resx
Due: cli

Upgrade to BouncyCastle.Cryptography 2.7.0
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/CertificateFixture.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Use IFileUtil for Spectre account key output
  src/Certes.Cli/CliCoreSpectre.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
Due: cli

Route legacy CLI file writes through IFileUtil
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
Due: cli

Add polling and badNonce edge-case coverage
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

Consolidate upgrade guidance for recent CLI changes
  README.md
  docs/CHANGELOG.md
  docs/README.md
Due: none

Fix stale offline unit test counts in docs
  AGENTS.md
  docs/CHANGELOG.md
  docs/ci-migration.md
Due: none

Add FileUtil overwrite hardening tests
  test/Certes.Tests/Cli/FileUtilTests.cs
Due: none

Sync docs baseline after FileUtil and test updates
  AGENTS.md
  docs/CHANGELOG.md
  docs/ci-migration.md
Due: none

Add Retry-After and polling boundary test coverage
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
