Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

update doc
  docs/README.md
Due: none

fix typo
  docs/README.md
Due: none

update document for v2 (#74)
  docs/CHANGELOG.md
  docs/README.md
Due: none

remove `charset` from content-type header
  src/Certes/Acme/AcmeHttpClient.cs
Due: acme

add log
  docs/CHANGELOG.md
Due: none

update log
  docs/CHANGELOG.md
Due: none

Fix content-type header for POST requests (#75)
  docs/CHANGELOG.md
  src/Certes/Acme/AcmeHttpClient.cs
Due: acme

update log
  docs/CHANGELOG.md
  src/Certes/Acme/Resource/AuthorizationStatus.cs
Due: acme

updates for draft-10 (#68)
  docs/CHANGELOG.md
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/ChallengeStatus.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  test/Certes.Tests/Acme/Resource/AuthorizationTests.cs
Due: acme

update pkg version
  appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

update pkg version (#78)
  appveyor.yml
  docs/CHANGELOG.md
  src/Certes/Certes.csproj
Due: acme

:package:
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update nlog
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

Update nuget packages (#80)
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update build script for dotnet 2.1 preview2
  appveyor.yml
  docs/README.md
Due: none

Update CLI to dotnet 2.1 p2 (#82)
  appveyor.yml
  docs/README.md
Due: none

快速开始使用
  docs/README.md
Due: none

add quick start doc (#83)
  docs/README.md
Due: none

:packages:
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update packages (#85)
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update packages autofac 4.7.1 does not discover internal classes for CLI
  appveyor.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

update azure mgnt packages
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: cli

update packages (#88)
  appveyor.yml
  src/Certes.Cli/Certes.Cli.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: cli

extract issuer logic from pfxbuilder
  src/Certes/Pkcs/CertificationStore.cs
  src/Certes/Pkcs/PfxBuilder.cs
Due: acme

make codacy happy
  src/Certes/Pkcs/CertificationStore.cs
Due: acme

tidy up PEM line breaks
  src/Certes/Acme/CertificateContent.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
Due: acme

build full chain pem
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/Pkcs/CertificationStore.cs
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

fix tests
  test/Certes.Tests/Acme/CertificateChainTests.cs
Due: none

+tests
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Data/cert.pem
  test/Certes.Tests/Data/dst-root-ca-x3.pem
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: none

+docs
  docs/CHANGELOG.md
  docs/README.md
Due: none

PEM full chain certificate (#90)
  docs/CHANGELOG.md
  docs/README.md
  src/Certes/Acme/CertificateContent.cs
  src/Certes/Extensions/CertificateChainExtensions.cs
  src/Certes/Pkcs/CertificationStore.cs
  src/Certes/Pkcs/PfxBuilder.cs
  test/Certes.Tests/Acme/CertificateChainTests.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Data/cert.pem
  test/Certes.Tests/Data/dst-root-ca-x3.pem
  test/Certes.Tests/Pkcs/PfxBuilderTests.cs
Due: acme

talent -> tenant
  src/Certes.Cli/Commands/AzureCommand.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Settings/AzureSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: cli

doc refresh
  docs/CHANGELOG.md
  docs/README.md
  src/Certes/Extensions/IOrderContextExtensions.cs
Due: acme

Fix CLI parameter name (#91)
  docs/CHANGELOG.md
  docs/README.md
  src/Certes.Cli/Commands/AzureCommand.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Settings/AzureSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
  test/Certes.Tests/Cli/Settings/UserSettingsTests.cs
Due: acme, cli

bump version
  appveyor.yml
  src/Certes/Certes.csproj
Due: acme

update CLI install command
  docs/README.md
Due: none

update cli for dotnet 2.1 p2
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

update cli settings
  src/Certes.Cli/Certes.Cli.csproj
Due: cli

cli export full chain pem
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
Due: cli
