Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

code reflectoring
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
Due: cli

code reflectoring
  .travis.yml
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
Due: cli

code reflectoring
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/AccountSetCommand.cs
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/AccountUpdateCommand.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommandBase.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
Due: cli

code reflectoring
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  test/Certes.Tests/Jws/AccountKeyTests.cs
Due: cli

code reflectoring
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Commands/OrderListCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Commands/OrderShowCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes/Jws/IAccountKey.cs
Due: acme, cli

Fix test
  test/Certes.Tests/Jws/AccountKeyTests.cs
Due: none

Fix tests
  test/Certes.Tests/Jws/AccountKeyTests.cs
Due: none

Add GitVersion
  GitVersion.yml
  scripts/pack.yml
Due: none

update gitversion
  GitVersion.yml
  scripts/pack.yml
Due: none

update versioning
  GitVersion.yml
  azure-pipelines.yml
  misc/certes.props
  scripts/build.yml
  scripts/pack.yml
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
Due: acme, cli

fix build script
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Fix version config
  GitVersion.yml
Due: none

update version config
  GitVersion.yml
Due: none

update version
  azure-pipelines.yml
Due: none

test version script
  azure-pipelines.yml
Due: none

test version script
  azure-pipelines.yml
  scripts/build.yml
  scripts/pack.yml
Due: none

fix info version
  azure-pipelines.yml
  scripts/build.yml
  scripts/pack.yml
Due: none

fix info version
  misc/certes.props
Due: none

upgrade az func to net5
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests.Web/CertificateFunction.cs
  test/Certes.Tests.Web/DnsChanllengeFunction.cs
  test/Certes.Tests.Web/Helper.cs
  test/Certes.Tests.Web/HttpChanllengeFunction.cs
  test/Certes.Tests.Web/Program.cs
Due: none

fix az func
  .gitignore
  test/Certes.Tests.Web/CertificateFunction.cs
Due: none

update pkgs
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: none

update version settings
  GitVersion.yml
Due: none

fix nupkg version
  misc/certes.props
  scripts/pack.yml
Due: none

update nupkg version
  scripts/pack.yml
Due: none

enable source link
  misc/certes.props
Due: none

publish snupkg
  scripts/pack.yml
Due: none

update pack script
  scripts/pack.yml
Due: none

enable source link
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes/Certes.csproj
Due: acme, cli

enable deterministic builds
  misc/certes.props
Due: none

update github token
  .appveyor.yml
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

Remove ACME v1 support
  src/Certes/Acme/AcmeAccount.cs
  src/Certes/Acme/AcmeCertificate.cs
  src/Certes/Acme/AcmeDirectory.cs
  src/Certes/Acme/AcmeHttpHandler.cs
  src/Certes/Acme/AcmeKeyedResult.cs
  src/Certes/Acme/AcmeResponse.cs
  src/Certes/Acme/AcmeResult.cs
  src/Certes/Acme/AuthorizationEntity.cs
  src/Certes/Acme/AuthorizationIdentifier.cs
  src/Certes/Acme/AuthorizationIdentifierTypes.cs
  src/Certes/Acme/CertificateEntity.cs
  src/Certes/Acme/ChallengeEntity.cs
  src/Certes/Acme/EntityBase.cs
  src/Certes/Acme/EntityStatus.cs
  src/Certes/Acme/IAcmeHttpHandler.cs
  src/Certes/Acme/RegistrationEntity.cs
  src/Certes/Acme/RevokeCertificateEntity.cs
  src/Certes/Acme/WellKnownServers.cs
  src/Certes/AcmeClient.cs
  src/Certes/IAcmeClient.cs
  test/Certes.Tests.Integration/AcmeClientIntegrationTests.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests/Acme/AcmeCertificateTests.cs
  test/Certes.Tests/Acme/AcmeDirectoryTests.cs
  test/Certes.Tests/Acme/AcmeHttpHandlerTests.cs
  test/Certes.Tests/Acme/AuthorizationIdentifierTests.cs
  test/Certes.Tests/Acme/ChallengeTests.cs
  test/Certes.Tests/Acme/RegistrationTests.cs
  test/Certes.Tests/Acme/RevokeCertificateTests.cs
  test/Certes.Tests/Acme/WellKnownServersTests.cs
  test/Certes.Tests/AcmeClientTests.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Helper.V1.cs
Due: acme

update build script
  .appveyor.yml
  .codecov.yml
  .travis.yml
  azure-pipelines.yml
  docs/README.md
  docs/README.v1.md
  docs/docfx.json
Due: none

Remvoe obsoleted code
  src/Certes/Acme/Resource/AuthorizationStatus.cs
  src/Certes/Acme/Resource/Challenge.cs
  src/Certes/Jws/AccountKey.cs
  src/Certes/Jws/IAccountKey.cs
  src/Certes/Pkcs/CertificationRequestBuilder.cs
  src/Certes/Pkcs/ICertificationRequestBuilder.cs
  src/Certes/Pkcs/SignatureAlgorithm.cs
  test/Certes.Tests/Acme/Resource/ChallengeTests.cs
  test/Certes.Tests/Jws/AccountKeyTests.cs
  test/Certes.Tests/Pkcs/CertificationRequestBuilderTests.cs
Due: acme

fetch test root cert
  azure-pipelines.yml
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Data/root-cert-ecdsa.pem
  test/Certes.Tests/Data/root-cert-rsa.pem
Due: acme
