Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
      acme:
        target: auto
        flags: acme
      cli:
        target: auto
        flags: cli
    patch: true
    changes: false

flags:
  acme:
    paths:
      - src/Certes/
  cli:
    paths:
      - src/Certes.Cli/

comment:
  layout: "header, diff"
  behavior: default  # update if exists else create new
 
codecov:
  strict_yaml_branch: master  # only use the latest copy on master branch

Retire obsolete Azure Functions test helper
  AGENTS.md
  Certes.sln
  README.md
  scripts/Pebble/README.md
  test/Certes.Func/.gitignore
  test/Certes.Func/Certes.Func.csproj
  test/Certes.Func/DnsChanllengeFunction.cs
  test/Certes.Func/Helper.cs
  test/Certes.Func/HttpChanllengeFunction.cs
  test/Certes.Func/Program.cs
  test/Certes.Func/Properties/serviceDependencies.json
  test/Certes.Func/Properties/serviceDependencies.local.json
  test/Certes.Func/host.json
Due: none

Add CodeQL analysis for C# and GitHub Actions
  .github/workflows/codeql.yml
  AGENTS.md
  README.md
Due: none

Replace unused Coverlet with Linux unit coverage reporting
  .config/dotnet-tools.json
  .github/workflows/build.yml
  AGENTS.md
  README.md
  scripts/Coverage/README.md
  scripts/Coverage/settings.xml
  scripts/Coverage/summary.py
  scripts/Coverage/test_summary.py
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: none

Use the .NET SDK for coverage summaries instead of Python
  .github/workflows/build.yml
  scripts/Coverage/README.md
  scripts/Coverage/Summary.cs
  scripts/Coverage/summary.py
  scripts/Coverage/test_summary.py
Due: none

Use ReportGenerator for coverage summaries and HTML reports
  .config/dotnet-tools.json
  .github/workflows/build.yml
  AGENTS.md
  scripts/Coverage/README.md
  scripts/Coverage/Summary.cs
Due: none

Clarify coverage documentation and section placement
  AGENTS.md
  README.md
Due: none

Restore core SourceLink dependency to pre-Dependabot version
  src/Certes/Certes.csproj
Due: acme

Restore build-only SourceLink update
  src/Certes/Certes.csproj
Due: acme

Keep major dependency migrations out of routine Dependabot updates
  .github/dependabot.yml
  AGENTS.md
Due: none

Define v5 scope and defer routine Spectre updates
  .github/dependabot.yml
  AGENTS.md
  README.md
Due: none

Add cancellation tokens throughout the v5 core async API
  AGENTS.md
  README.md
  docs/README.md
  docs/v5-upgrade.md
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/AuthorizationContext.cs
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/IAccountContext.cs
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/Acme/IAuthorizationContext.cs
  src/Certes/Acme/IChallengeContext.cs
  src/Certes/Acme/IOrderContext.cs
  src/Certes/Acme/IOrderListContext.cs
  src/Certes/Acme/IResourceContext.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/Acme/OrderListContext.cs
  src/Certes/AcmeContext.cs
  src/Certes/Extensions/IAccountContextExtensions.cs
  src/Certes/Extensions/IAcmeContextExtensions.cs
  src/Certes/Extensions/IAuthorizationContextExtensions.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  src/Certes/Extensions/RenewalInfoExtensions.cs
  src/Certes/IAcmeContext.cs
  test/Certes.Tests/Acme/AccountContextTests.cs
  test/Certes.Tests/Acme/AuthorizationContextTests.cs
  test/Certes.Tests/Acme/EntityContextTests.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
  test/Certes.Tests/CancellationTests.cs
  test/Certes.Tests/CertificateProfileTests.cs
  test/Certes.Tests/Cli/CliCoreSpectreTests.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
  test/Certes.Tests/IpIdentifierTests.cs
  test/Certes.Tests/RenewalInfoTests.cs
Due: acme

Preserve completed ACME responses when cancellation races
  docs/v5-upgrade.md
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/Extensions/IAccountContextExtensions.cs
  test/Certes.Tests/CancellationTests.cs
Due: acme

Migrate Spectre CLI and add v5 cancellation handling
  .github/dependabot.yml
  AGENTS.md
  README.md
  docs/v5-upgrade.md
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/FileUtil.cs
  src/Certes.Cli/IFileUtil.cs
  src/Certes.Cli/Program.cs
  src/Certes.Cli/README.md
  src/Certes.Cli/Settings/IUserSettings.cs
  src/Certes.Cli/Settings/UserSettings.cs
  test/Certes.Tests/Cli/CliCancellationTests.cs
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
Due: cli

Persist explicit key outputs before cancellable CA requests
  AGENTS.md
  docs/v5-upgrade.md
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Program.cs
  test/Certes.Tests/Cli/CliCancellationTests.cs
  test/Certes.Tests/Cli/CliRuntimeRelayTests.cs
Due: cli

Prepare v5.0.0-beta.1 release notes
  docs/CHANGELOG.md
  docs/v5-upgrade.md
  src/Certes.Cli/README.md
  src/Certes/README.md
Due: acme, cli

Add experimental DNS-PERSIST-01 draft support
  AGENTS.md
  README.md
  docs/APIv2.md
  docs/CLI.md
  docs/README.md
  docs/v5-upgrade.md
  scripts/Pebble/README.md
  src/Certes.Cli/CliCoreSpectre.cs
  src/Certes.Cli/Strings.resx
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/DnsPersistRecord.cs
  src/Certes/Acme/IChallengeContext.cs
  src/Certes/Acme/Resource/Challenge.cs
  src/Certes/Acme/Resource/ChallengeTypes.cs
  src/Certes/Acme/Resource/DirectoryMeta.cs
  src/Certes/Extensions/DnsPersistExtensions.cs
  src/Certes/Extensions/IAuthorizationContextExtensions.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.DnsPersistTests.cs
  test/Certes.Tests/Acme/DnsPersistChallengeTests.cs
  test/Certes.Tests/Cli/DnsPersistCliTests.cs
  test/Certes.Tests/DnsPersistExtensionsTests.cs
Due: acme, cli

Clarify DNS-PERSIST development follows beta.1
  docs/CHANGELOG.md
  docs/v5-upgrade.md
Due: none

Verify v5 beta against Let's Encrypt staging
  scripts/StagingVerification/Program.cs
  scripts/StagingVerification/README.md
  scripts/StagingVerification/StagingVerification.csproj
  scripts/StagingVerification/run.sh
Due: none

Add Let's Encrypt staging verification harness (scaffolding)
  scripts/StagingVerification/Program.cs
  scripts/StagingVerification/StagingVerification.csproj
  scripts/StagingVerification/run.sh
Due: none

Clarify staging verification scope and review feedback
  AGENTS.md
  scripts/StagingVerification/Program.cs
  scripts/StagingVerification/README.md
  scripts/StagingVerification/StagingVerification.csproj
Due: none

Verify v5 beta against Let's Encrypt staging
  AGENTS.md
  scripts/StagingVerification/Program.cs
  scripts/StagingVerification/README.md
  scripts/StagingVerification/StagingVerification.csproj
  scripts/StagingVerification/run.sh
Due: none

Remove OpenCode repository configuration
  opencode.jsonc
Due: none

Remove OpenCode repository configuration (#412)
  opencode.jsonc
Due: none
