Repository fszlin/certes: changes, and which Codecov flags are due for each by the changed paths.
All: acme, cli

Update OrderContext.cs
  src/Certes/Acme/OrderContext.cs
Due: acme

fix wrong merge
  src/Certes/Acme/OrderContext.cs
Due: acme

add missing assignment
  src/Certes/Acme/OrderContext.cs
Due: acme

fix testcases after merge
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: none

Retry on bad nonce (#239)
  src/Certes/Acme/AccountContext.cs
  src/Certes/Acme/AuthorizationContext.cs
  src/Certes/Acme/ChallengeContext.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/IAcmeHttpClient.cs
  src/Certes/Acme/OrderContext.cs
  src/Certes/AcmeContext.cs
  src/Certes/IAcmeContext.cs
  src/Certes/Jws/JwsSigner.cs
  test/Certes.Tests/Acme/AcmeHttpClientTests.cs
  test/Certes.Tests/Acme/AuthorizationContextTests.cs
  test/Certes.Tests/Acme/EntityContextTests.cs
  test/Certes.Tests/Acme/OrderContextTests.cs
Due: acme

Retry on bad nonce (#239)
  api/certes/Certes.Acme.IAcmeHttpClient.html
  api/certes/Certes.AcmeContext.html
  api/certes/Certes.IAcmeContext.html
  manifest.json
  sitemap.xml
  xrefmap.yml
Due: none

Handle OrderState "processing" (#237)
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/Acme/AcmeHttpResponse.cs
  src/Certes/Acme/EntityContext.cs
  src/Certes/Acme/IResourceContext.cs
  src/Certes/Acme/Resource/OrderStatus.cs
  src/Certes/Extensions/IOrderContextExtensions.cs
  test/Certes.Tests/IOrderContextExtensionsTests.cs
Due: acme

Handle OrderState processing (#237)
  api/certes/Certes.Acme.AcmeHttpResponse-1.html
  api/certes/Certes.Acme.IAccountContext.html
  api/certes/Certes.Acme.IAuthorizationContext.html
  api/certes/Certes.Acme.IChallengeContext.html
  api/certes/Certes.Acme.IOrderContext.html
  api/certes/Certes.Acme.IOrderListContext.html
  api/certes/Certes.Acme.IResourceContext-1.html
  api/certes/Certes.Acme.Resource.OrderStatus.html
  api/certes/Certes.IOrderContextExtensions.html
  manifest.json
  sitemap.xml
  xrefmap.yml
Due: none

remove last references to netstandard 1.3 (#226)
  docs/README.md
  src/Certes/Acme/AcmeHttpClient.cs
  src/Certes/AcmeException.cs
  src/Certes/AcmeRequestException.cs
Due: acme

remove last references to netstandard 1.3 (#226)
  README.html
  api/certes/Certes.Acme.AcmeHttpClient.html
  api/certes/Certes.AcmeException.html
  api/certes/Certes.AcmeRequestException.html
  index.html
  manifest.json
  sitemap.xml
Due: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Fix copy/paste error for EAB HMAC algorithm selection
  src/Certes/Acme/AccountContext.cs
Due: acme

Fix copy/paste error for EAB HMAC algorithm selection (#247)
  src/Certes/Acme/AccountContext.cs
Due: acme

Fix copy/paste error for EAB HMAC algorithm selection (#247)
  sitemap.xml
Due: none

Update target frameworks
  misc/certes.props
  src/Certes/Certes.csproj
  test/Certes.Tests/AcmeRequestExceptionTests.cs
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

upgrade server commands
  NuGet.config
  src/Certes.Cli/Certes.Cli.csproj
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/ICliCommandFactory.cs
  src/Certes.Cli/Commands/ServerCommands.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  src/Certes.Cli/ConsoleExtensions.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

Upgrade account commands
  src/Certes.Cli/Commands/AccountCommands.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/AccountSetCommand.cs
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/AccountUpdateCommand.cs
  src/Certes.Cli/Commands/CommandsBase.cs
Due: cli

Upgrade order authz command
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderCommands.cs
Due: cli

Upgrade CLI commands
  src/Certes.Cli/Commands/AccountCommands.cs
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/AccountSetCommand.cs
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/AccountUpdateCommand.cs
  src/Certes.Cli/Commands/CertificateCommandBase.cs
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  src/Certes.Cli/Commands/CommandBase.cs
  src/Certes.Cli/Commands/CommandsBase.cs
  src/Certes.Cli/Commands/ICliCommand.cs
  src/Certes.Cli/Commands/ICliCommandFactory.cs
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  src/Certes.Cli/Commands/ServerCommands.cs
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
Due: cli

Upgrade az commands
  src/Certes.Cli/ArgumentSyntaxExtensions.cs
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommandBase.cs
  src/Certes.Cli/Commands/AzureDnsCommand.cs
  src/Certes.Cli/Commands/AzureOptions.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  src/Certes.Cli/Commands/OrderListCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Commands/OrderShowCommand.cs
  src/Certes.Cli/Strings.Designer.cs
  src/Certes.Cli/Strings.resx
Due: cli

Upgrade command tests
  misc/certes.props
  src/Certes.Cli/Commands/AccountNewCommand.cs
  src/Certes.Cli/Commands/AccountSetCommand.cs
  src/Certes.Cli/ConsoleExtensions.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Cli/ArgumentSyntaxExtensionsTests.cs
  test/Certes.Tests/Cli/CliTestHelper.cs
  test/Certes.Tests/Cli/Commands/AccountNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountSetCommandTests.cs
Due: cli

Upgrade account command tests
  src/Certes.Cli/Commands/AccountShowCommand.cs
  src/Certes.Cli/Commands/AccountUpdateCommand.cs
  test/Certes.Tests/Cli/Commands/AccountShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/AccountUpdateCommandTests.cs
Due: cli

Upgrade server command tests
  src/Certes.Cli/Commands/ServerSetCommand.cs
  src/Certes.Cli/Commands/ServerShowCommand.cs
  test/Certes.Tests/Cli/Commands/ServerSetCommandTests.cs
  test/Certes.Tests/Cli/Commands/ServerShowCommandTests.cs
Due: cli

Upgrade certificate command tests
  src/Certes.Cli/Commands/CertificatePemCommand.cs
  src/Certes.Cli/Commands/CertificatePfxCommand.cs
  test/Certes.Tests/Cli/Commands/CertificatePemCommandTests.cs
  test/Certes.Tests/Cli/Commands/CertificatePfxCommandTests.cs
Due: cli

Upgrade order command tests
  src/Certes.Cli/Commands/OrderAuthzCommand.cs
  src/Certes.Cli/Commands/OrderFinalizeCommand.cs
  src/Certes.Cli/Commands/OrderListCommand.cs
  src/Certes.Cli/Commands/OrderNewCommand.cs
  src/Certes.Cli/Commands/OrderShowCommand.cs
  src/Certes.Cli/Commands/OrderValidateCommand.cs
  test/Certes.Tests/Cli/Commands/OrderAuthzCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderFinalizeCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderListCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderNewCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderShowCommandTests.cs
  test/Certes.Tests/Cli/Commands/OrderValidateCommandTests.cs
Due: cli

Upgrade az command tests
  src/Certes.Cli/CliCore.cs
  src/Certes.Cli/Commands/AzureAppCommand.cs
  src/Certes.Cli/Commands/AzureCommandBase.cs
  src/Certes.Cli/Commands/AzureSetCommand.cs
  test/Certes.Tests/Cli/CliCoreTests.cs
  test/Certes.Tests/Cli/Commands/AzureAppCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureDnsCommandTests.cs
  test/Certes.Tests/Cli/Commands/AzureSetCommandTests.cs
Due: cli

Fix func app reference
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: none

add ci issuers
  src/Certes/Acme/OrderContext.cs
  test/Certes.Tests.Integration/AcmeClientIntegrationTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByHttpTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.CertificateByTlsAlpnTests.cs
  test/Certes.Tests.Integration/AcmeContextIntegration.WildcardTests.cs
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests.Integration/IntegrationHelper.cs
  test/Certes.Tests.Integration/Readme.cs
  test/Certes.Tests/Certes.Tests.csproj
  test/Certes.Tests/Data/root-cert-ecdsa.pem
  test/Certes.Tests/Data/root-cert-rsa.pem
Due: acme

update target fw for az func
  test/Certes.Tests.Web/Certes.Tests.Web.csproj
Due: none

update build script
  azure-pipelines.yml
  scripts/build.yml
Due: none

update code cover scripts
  .config/dotnet-tools.json
  scripts/build.yml
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

update sign setting
  .gitignore
  misc/certes.props
  src/Certes/Certes.csproj
  test/Certes.Tests.Integration/Certes.Tests.Integration.csproj
  test/Certes.Tests/Certes.Tests.csproj
Due: acme

update codecov pattern
  scripts/build.yml
Due: none

Fixing test framework
  azure-pipelines.yml
Due: none

update test script
  azure-pipelines.yml
Due: none

Fixing codecov path
  scripts/build.yml
Due: none

update codecov script
  scripts/build.yml
Due: none

update script
  scripts/build.yml
Due: none

Path conditions:
  acme: any of: src/Certes/
  cli: any of: src/Certes.Cli/
